version: "3.7"
services:
    www:
        build:
            context: .
        ports:
            - "8025:5000"
            - "8080:80"
        links:
            - db
        networks:
            - default
        volumes:
            - ./users:/home/evaluatex/users:consistent
            - ./data:/home/evaluatex/data:consistent
            - ./atheos_module:/var/www/html
            - ./app:/usr/share/pyevaluate/app
        cap_add:
            - SYS_PTRACE
        security_opt:
            - seccomp:unconfined
        privileged: true
        command: /bin/bash
        #uncomment following line for dev
        stdin_open: true
        tty: true
    db:
        image: mysql
        ports:
            - "3306:3306"
        environment:
            - MYSQL_DATABASE=evaluatex
            - MYSQL_USER=user
            - MYSQL_PASSWORD=test
            - MYSQL_ROOT_PASSWORD=test
        volumes:
            - ./dump:/docker-entrypoint-initdb.d
            - persistent:/var/lib/mysql
        networks:
            - default
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links:
            - db:db
        ports:
            - "8001:80"
        environment:
            - MYSQL_USER=user
            - MYSQL_PASSWORD=test
            - MYSQL_ROOT_PASSWORD=test

volumes:
    persistent:
