{% extends 'base.html' %}

{%block title %} Register - EvaluateX {%endblock%}

{%block body %}  
  
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-repeat: no-repeat;
                                                                          background-size: 100%;
                                                                          background-position: center; background-image: url('../static/img/dogs/image3.png')"></div>
                    </div>


                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            <form class="user" action="" method="post">
                                {{form.hidden_tag()}}
                                             <div class="form-group">
                                                {{form.email(class='form-control form-control-user', placeholder='Email Address',id='exampleInputEmail')}}
                                             </div>
                                 
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {{form.password_hash(class='form-control form-control-user', type='password', placeholder='Password',id='exampleInputPassword')}}</div>
                                    <div class="col-sm-6">
                                        {{form.password_hash2(class='form-control form-control-user', type='password', placeholder='Repeat Password',id='exampleRepeatPasswordInput')}}</div>
                                    
                                </div>{{form.submit(class='btn btn-primary btn-block text-white btn-user', type='submit')}}
                    
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="{{url_for('user_bp.index')}}">Already have an account? Login!</a></div>
                            {%if form.password_hash.errors %}
                                 {% for error in form.password_hash.errors %}
                                 <div class="text-center"><div style="color:red">{{error}}</div></div>
                                 {%endfor%}
                                 {%endif%}
                                 {%if form.email.errors %}
                                 {% for error in form.email.errors %}
                                 <div class="text-center"><div style="color:red">{{error}}</div></div>
                                 {%endfor%}
                                 {%endif%}
                            {% with messages = get_flashed_messages() %}
                                 {%if messages %}
                                 {%for message in messages%}
                                 <div class="text-center"><div style="color:red">{{message}}</div></div>
                                 {%endfor%}
                                 {%endif%}
                                 {%endwith%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    {%endblock%}